@import "extend";
:root {
  // PRIMARY COLORS
  --green: #00bf9a;
  --red: #ed4357;
  --light-orange: #faa307;
  --blue: #118ab2;

  // NEUTRAL COLORS
  --dark-gray: #635f5c;
  --gray: #e0e0e0;
  --border-gray: rgb(230, 230, 230);
  --light-gray: #f2f2f2;
  --bg: #fcfcfb;
  --white: #fff;

  // TYPOGRAPHY
  --body-font-size: 1.6rem;
  --major-font: "Outfit", sans-serif;
  --font-w-regular: 400;
  --font-w-medium: 500;
  --font-w-bold: 700;
  --font-dark: #161616;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
span,
body {
  margin: 0;
  padding: 0;
  font-family: var(--major-font);
  font-size: var(--button-font-size);
  line-height: 1;
  color: var(--font-dark);
  font-size: var(--body-font-size);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*:focus-visible {
  outline: 0.3rem solid rgb(204, 204, 204);
}

.main {
  max-width: 140rem;
  background-color: var(--bg);
  display: grid;
  min-height: 100vh;
  margin: 0 auto;
  padding: 7rem 1rem 1rem;
}

.todo {
  width: 100%;

  &__container {
    display: flex;
    margin: 0 auto;
    padding-bottom: 3rem;
    max-width: 120rem;
    width: 100%;
  }

  &__new-task {
    margin-right: auto;
    width: 100%;
    margin-right: 2rem;
  }

  &__label {
    display: block;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    font-weight: var(--font-w-bold);
  }

  &__input {
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: 2px solid var(--border-gray);
    transition: all 200ms ease;

    &:focus {
      border: 2px solid var(--blue);
    }
  }

  &__btn-add {
    @extend %button-form;
    background-color: var(--blue);
    padding: 1rem 2rem;
    font-weight: var(--font-w-bold);

    &:hover {
      opacity: 0.85;
    }
  }
}

.tasks {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;

  &__btn-box {
    display: none;
  }

  &__check-all {
    @extend %button-form;
    background-color: var(--green);
    margin-right: 1.5rem;
    height: 3rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.7rem;

    &:hover {
      opacity: 0.85;
    }
  }

  &__uncheck-all {
    @extend %button-form;
    background-color: var(--light-orange);
    margin-right: 1.5rem;
    height: 3rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.7rem;

    &:hover {
      opacity: 0.85;
    }
  }

  &__delete-selected {
    @extend %button-form;
    background-color: var(--red);
    height: 3rem;
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.2rem;
    &:hover {
      opacity: 0.85;
    }
  }
}

.task {
  background-color: var(--white);
  border: 1px solid var(--border-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.4rem;
  margin-top: 0.5rem;

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__form {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__checkbox {
    margin-left: 0.9rem;
  }

  &__description {
    margin: 0 1.5rem 0 0.5rem;
    width: 100%;
    outline: none;
    padding: 0.6rem;

    &:focus {
      box-shadow: inset 0 0 0 2px var(--gray);
    }
  }

  &__btn-box {
    display: flex;
  }

  &__btn-edit {
    @extend %button-form;
    height: 3rem;
    padding: 0.5rem 1rem;
    margin-right: 0.7rem;
    display: flex;
    background-color: #faa307;
 

    &:hover {
      opacity: 0.85;
    }

    &--icon {
      @extend %icon-form;
    }
  }

  &__btn-delete {
    @extend %button-form;
    background-color: var(--red);
    height: 3rem;
    padding: 0.5rem 1rem;
    display: flex;
    margin-right: 0.7rem;
    // display: none;

    &:hover {
      opacity: 0.85;
    }

    &--icon {
      @extend %icon-form;
    }
  }

  &__btn-update {
    @extend %button-form;
    background-color: var(--green);
    height: 3rem;
    padding: 0.5rem 1rem;
    display: flex;
    margin-right: 0.7rem;
    display: none;

    &:hover {
      opacity: 0.85;
    }

    &--icon {
      @extend %icon-form;
    }
  }

  &__btn-cancel {
    @extend %button-form;
    background-color: var(--light-orange);
    height: 3rem;
    padding: 0.5rem 1rem;
    display: flex;
    margin-right: 0.7rem;
    display: none;

    &:hover {
      opacity: 0.85;
    }

    &--icon {
      @extend %icon-form;
    }
  }
}
