.task__btn-cancel, .task__btn-update, .task__btn-delete, .task__btn-edit, .tasks__delete-selected, .tasks__uncheck-all, .tasks__check-all, .todo__btn-add {
  border: none;
  background: none;
  color: var(--white);
  text-transform: capitalize;
  font-weight: var(--font-w-bold);
  font-size: inherit;
  font-family: inherit;
  letter-spacing: 0.8px;
  height: 4rem;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
}

.task__btn-cancel--icon, .task__btn-update--icon, .task__btn-delete--icon, .task__btn-edit--icon {
  width: 1.8rem;
  height: 1.8rem;
}

:root {
  --green: #00bf9a;
  --red: #ed4357;
  --light-orange: #faa307;
  --blue: #118ab2;
  --dark-gray: #635f5c;
  --gray: #e0e0e0;
  --border-gray: rgb(230, 230, 230);
  --light-gray: #f2f2f2;
  --bg: #fcfcfb;
  --white: #fff;
  --body-font-size: 1.6rem;
  --major-font: "Outfit", sans-serif;
  --font-w-regular: 400;
  --font-w-medium: 500;
  --font-w-bold: 700;
  --font-dark: #161616;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
span,
body {
  margin: 0;
  padding: 0;
  font-family: var(--major-font);
  font-size: var(--button-font-size);
  line-height: 1;
  color: var(--font-dark);
  font-size: var(--body-font-size);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*:focus-visible {
  outline: 0.3rem solid rgb(204, 204, 204);
}

.main {
  max-width: 140rem;
  background-color: var(--bg);
  display: grid;
  min-height: 100vh;
  margin: 0 auto;
  padding: 7rem 1rem 1rem;
}

.todo {
  width: 100%;
}
.todo__container {
  display: flex;
  margin: 0 auto;
  padding-bottom: 3rem;
  max-width: 120rem;
  width: 100%;
}
.todo__new-task {
  margin-right: auto;
  width: 100%;
  margin-right: 2rem;
}
.todo__label {
  display: block;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  font-weight: var(--font-w-bold);
}
.todo__input {
  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: 2px solid var(--border-gray);
  transition: all 200ms ease;
}
.todo__input:focus {
  border: 2px solid var(--blue);
}
.todo__btn-add {
  background-color: var(--blue);
  padding: 1rem 2rem;
  font-weight: var(--font-w-bold);
}
.todo__btn-add:hover {
  opacity: 0.85;
}

.tasks {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}
.tasks__btn-box {
  display: none;
}
.tasks__check-all {
  background-color: var(--green);
  margin-right: 1.5rem;
  height: 3rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.7rem;
}
.tasks__check-all:hover {
  opacity: 0.85;
}
.tasks__uncheck-all {
  background-color: var(--light-orange);
  margin-right: 1.5rem;
  height: 3rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.7rem;
}
.tasks__uncheck-all:hover {
  opacity: 0.85;
}
.tasks__delete-selected {
  background-color: var(--red);
  height: 3rem;
  padding: 0.5rem 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.2rem;
}
.tasks__delete-selected:hover {
  opacity: 0.85;
}

.task {
  background-color: var(--white);
  border: 1px solid var(--border-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.4rem;
  margin-top: 0.5rem;
}
.task__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.task__form {
  display: flex;
  align-items: center;
  width: 100%;
}
.task__checkbox {
  margin-left: 0.9rem;
}
.task__description {
  margin: 0 1.5rem 0 0.5rem;
  width: 100%;
  outline: none;
  padding: 0.6rem;
}
.task__description:focus {
  box-shadow: inset 0 0 0 2px var(--gray);
}
.task__btn-box {
  display: flex;
}
.task__btn-edit {
  height: 3rem;
  padding: 0.5rem 1rem;
  margin-right: 0.7rem;
  display: flex;
  background-color: #faa307;
}
.task__btn-edit:hover {
  opacity: 0.85;
}
.task__btn-delete {
  background-color: var(--red);
  height: 3rem;
  padding: 0.5rem 1rem;
  display: flex;
  margin-right: 0.7rem;
}
.task__btn-delete:hover {
  opacity: 0.85;
}
.task__btn-update {
  background-color: var(--green);
  height: 3rem;
  padding: 0.5rem 1rem;
  display: flex;
  margin-right: 0.7rem;
  display: none;
}
.task__btn-update:hover {
  opacity: 0.85;
}
.task__btn-cancel {
  background-color: var(--light-orange);
  height: 3rem;
  padding: 0.5rem 1rem;
  display: flex;
  margin-right: 0.7rem;
  display: none;
}
.task__btn-cancel:hover {
  opacity: 0.85;
}

/*# sourceMappingURL=style.css.map */
